<hr>
<p>pipes works!</p>
<p>custom pipe {{ 340 | custom:9 }} </p>
<!-- <p>Birth: <span style="font-weight: 900;">
    {{ birth | date }}
</span></p>
<p>Birth (2nd time): 
    <span style="font-weight: 900;">
        {{ birth | date:"yyyy" }}
    </span></p>

<p>Birth (3rd time): 
   <span style="font-weight: 900;">
            {{ birth | date:"dd/MM/yyyy" }}
   </span></p>
<p>pipe of uppercase : {{ 'cats'  | uppercase  }}</p>
<p>pipe of lowercase : {{ 'DOGS'  | lowercase  }}</p>
<p>bank fee: {{  fee | percent}}</p>
<p>Currency: {{ total | currency:'NIS':'₪ ':'1.1-2' }}</p>
<p>Slice pipe: {{ 'KING-GORG'|slice:3:8 }} </p>
<pre>{{hobby | json | uppercase}}</pre>
<p>Number pipe: {{ 0003.545112778 | number:'2.2-3'}}</p> -->