<h1>Some menu come here</h1>

<router-outlet></router-outlet>

<!-- <h1>Hello World</h1> -->

<!-- <app-use-http></app-use-http> -->

<!-- <app-start-rx></app-start-rx> -->
<!-- <app-header></app-header>
<app-footer></app-footer> -->

<!-- <select [(ngModel)]="someData">
  <option value="tesla">Tesla</option>
  <option value="subaro">Subaro</option>
</select>

<app-child [bubu]="someData"   ></app-child>
 -->

<!-- <button (click)="addNumber()" >+Add</button>
<app-child [bubu]="someData"   ></app-child>

<div style="direction:rtl;">
  <h2>מצעד העוגות של איל</h2>
  <app-cake-com *ngFor="let c of cakes"   [cake]="c" ></app-cake-com>
</div> -->
<!-- 
<h1>העברת מידע מבן לאב</h1>

<app-output1 (changeNameEvent)="changeName($event)" ></app-output1>
<h2>Your Name is : {{ name }} </h2> -->


<!-- <app-two-way></app-two-way> -->
<!-- <app-pipes></app-pipes> -->
<!-- <app-form-validation></app-form-validation> -->


